<%- include('layout/meta') -%>
    <%- include('comp/header') -%>
        <%- include('layout/home-slide') -%>
            <div class="bg-light-blue">
                <div class="uk-container py-3">
                    <%- include('comp/product-home') -%>
                </div>
            </div>
            <%- include('layout/footer') -%>