<%- include('layout/meta') -%>
    <%- include('components/header') -%>
        <%- include('layout/home-slide') -%>
            <div class="bg-light-blue">
                <div class="uk-container py-3">
                    <%- include('components/product-home') -%>
                </div>
            </div>
            <div class="bg-light">
                <div class="uk-container py-3">
                    <%- include('components/deal-home') -%>
                </div>
            </div>
            <div class="bg-white">
                <div class="uk-container py-3">
                    <%- include('components/news-home') -%>
                </div>
            </div>
            <div class="bg-light">
                <div class="uk-container py-3">
                    <%- include('components/lastview-home') -%>
                </div>
            </div>
            <%- include('layout/footer') -%>